<!DOCTYPE html>
<html>
<head>
    <title>Guessing Game</title>
</head>
<body>
    <div id="message">{{ message }}<br></div>

    <form method="post" action="/">
        guess: <input type="text" name="the_guess"><br>
        <input type="submit" value="make_guess">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token}}">
    </form>

    <div>
        <a href="/new_game">new game</a>
    </div>

    <hr>

    <p>See the console for the answer.</p>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <script type="text/javascript">
        var $msg = $("#message");
        var $form = $("form");
        $form.submit( function handleFormSubmit(event) {
            $.ajax({
                method:"POST",
                url:"/game_logic",
                data:$form.serialize(),
                success: function onSuccess(message) {
                    $msg.append(message + "<br>");
                },
                error:  function onError() {
                   console.log("something went wrong");
                }
            });
            event.preventDefault();
        });

        console.log({{ the_answer }});

    </script>

</body>
</html>
